
.ipynb_checkpoints/omop_duckdb-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
sql_on_fhir/.ipynb_checkpoints/sql_on_fhir-checkpoint.ipynb
synthea_sample_data_csv_apr2020/csv/allergies.csv
synthea_sample_data_csv_apr2020/csv/careplans.csv
synthea_sample_data_csv_apr2020/csv/conditions.csv
synthea_sample_data_csv_apr2020/csv/devices.csv
synthea_sample_data_csv_apr2020/csv/encounters.csv
synthea_sample_data_csv_apr2020/csv/imaging_studies.csv
synthea_sample_data_csv_apr2020/csv/immunizations.csv
synthea_sample_data_csv_apr2020/csv/medications.csv
synthea_sample_data_csv_apr2020/csv/observations.csv
synthea_sample_data_csv_apr2020/csv/organizations.csv
synthea_sample_data_csv_apr2020/csv/patients.csv
synthea_sample_data_csv_apr2020/csv/payer_transitions.csv
synthea_sample_data_csv_apr2020/csv/payers.csv
synthea_sample_data_csv_apr2020/csv/procedures.csv
synthea_sample_data_csv_apr2020/csv/providers.csv
synthea_sample_data_csv_apr2020/csv/supplies.csv
vocabulary_download_v5/CONCEPT-Copy.csv
vocabulary_download_v5/CONCEPT.csv
vocabulary_download_v5/CONCEPT_ANCESTOR.csv
vocabulary_download_v5/CONCEPT_CLASS.csv
vocabulary_download_v5/CONCEPT_COPY.csv
vocabulary_download_v5/CONCEPT_CPT4.csv
vocabulary_download_v5/CONCEPT_RELATIONSHIP.csv
vocabulary_download_v5/CONCEPT_SYNONYM - Copy.csv
vocabulary_download_v5/CONCEPT_SYNONYM.csv
vocabulary_download_v5/CONCEPT_SYNONYM_TEST.csv
vocabulary_download_v5/cpt.bat
vocabulary_download_v5/cpt.sh
vocabulary_download_v5/cpt4.jar
vocabulary_download_v5/DOMAIN.csv
vocabulary_download_v5/DRUG_STRENGTH.csv
vocabulary_download_v5/readme.txt
vocabulary_download_v5/RELATIONSHIP.csv
vocabulary_download_v5/VOCABULARY.csv
sql_on_fhir/.ipynb_checkpoints/README-checkpoint.md
omop_duckdb/synthea_sample_data_csv_apr2020/csv/allergies.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/careplans.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/conditions.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/devices.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/encounters.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/imaging_studies.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/immunizations.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/medications.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/observations.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/organizations.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/patients.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/payer_transitions.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/payers.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/procedures.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/providers.csv
omop_duckdb/synthea_sample_data_csv_apr2020/csv/supplies.csv
omop_duckdb/vocabulary_download_v5/CONCEPT-Copy.csv
omop_duckdb/vocabulary_download_v5/CONCEPT.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_ANCESTOR.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_CLASS.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_COPY.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_CPT4.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_RELATIONSHIP.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_SYNONYM - Copy.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_SYNONYM.csv
omop_duckdb/vocabulary_download_v5/CONCEPT_SYNONYM_TEST.csv
omop_duckdb/vocabulary_download_v5/cpt.bat
omop_duckdb/vocabulary_download_v5/cpt.sh
omop_duckdb/vocabulary_download_v5/cpt4.jar
omop_duckdb/vocabulary_download_v5/DOMAIN.csv
omop_duckdb/vocabulary_download_v5/DRUG_STRENGTH.csv
omop_duckdb/vocabulary_download_v5/readme.txt
omop_duckdb/vocabulary_download_v5/RELATIONSHIP.csv
omop_duckdb/vocabulary_download_v5/VOCABULARY.csv
omop_duckdb/.ipynb_checkpoints/omop_duckdb-checkpoint.ipynb
omop_duckdb/.ipynb_checkpoints/README-checkpoint.md
